body {
    background-color: #141414;
    margin: 0;
}

.memes-container {
    margin: 2em;
}

.meme {
    text-align: center;
}

.meme img {
    width: 60vw;
    height: auto;
}

.meme span {
    display: block;
    color: #ffffff;
    font-size: 2em;
    padding-left: 17vw;
    margin: 1em 0 0;
    text-align: left;
}

.meme:nth-child(2),
.meme:nth-child(3),
.meme:nth-child(4) {
    display: none;
}