:root {
    --c-dark-bg: #141414;
    --c-blue: #4f4fbb;
    --c-white: #ffffff;
    --c-grey: #9d9b9b;
    --transition-time: 0.5s;
}
body {
    background-color: var(--c-dark-bg);
    margin: 0;
}

.memes-container {
    margin: 2em;
}

.meme {
    text-align: center;
}

.image {
    width: 60vw;
    height: auto;
}

.meme:nth-child(2),
.meme:nth-child(3),
.meme:nth-child(4),
.caption:nth-child(2),
.caption:nth-child(3),
.caption:nth-child(4),
.radio-input {
    display: none;
}

.wrapper-caption-radio {
    display: flex;
    justify-content: space-between;
    padding: 0 15vw;
}

.caption {
    display: block;
    color: #ffffff;
    font-size: 2em;
    text-align: left;
}

.radio-container {
    display: flex;
}

.radio {
    align-content: center;
    margin-right: 0.1em;
    transition: var(--transition-time);
}

.radio:last-child {
    margin-right: 0;
}

.radio > span {
    --linear-value: 0.7em;

    background-color: var(--c-blue);
    box-sizing: border-box;
    display: block;
    width: var(--linear-value);
    height: var(--linear-value);
    border-radius: 50%;
    margin: 0 auto;
    transition: var(--transition-time);
}

.radio-input + label {
    background-color: var(--c-blue);
    display: block;
    width: 1em;
    height: 1em;
    border: 0.8em solid var(--c-dark-bg);
    border-radius: 50%;
}

.radio-input:checked + label > span {
    background-color: var(--c-dark-bg);
}

.radio:hover {
    background-color: var(--c-white);
    cursor: pointer;
}

.radio:hover > span {
    background-color: var(--c-white);
}

.radio:active,
.radio:active > span {
    background-color: var(--c-grey);
}